<li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link" id="dropdownMenuButton" 
        data-toggle="dropdown"
        [routerLink]="['cart']"
    >
        CART
        <span class="badge badge-warning">{{ quantity }}</span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let inCartProduct of inCartProducts" class="m-3">
            <img src="{{ inCartProduct.imgUrl }}" style="width: 30px; height: 30px">
            {{ inCartProduct.name }}
        </li>
    </ul>
</li>